{% extends "ground_control/base.html" %}
{% load static %}

{% block content %}

    <br>
    <div class="container">
        <div class="sub-container">
            <textarea id="earth-log" cols="100" rows="20"></textarea><br>
            <textarea id="chat-message-input" cols="100" rows="20"></textarea><br>
        </div>
        <div class="button-container">
            <input id="chat-message-submit" type="button" value="Send">
        </div>
    </div>
    {{ satellite_name|json_script:"satellite_name" }}
    {{ number_of_satellites|json_script:"number_of_satellites" }}

    <script src="{% static 'ground_control/satellite.js' %}"></script>

{% endblock content %}